.order-summary {
  /* height: 944px; */
  background-color: rgb(205, 161, 102);
  position: sticky;
  top:0;
}
.order-details {
  padding-left: 20px;
}
.order-summary h3 {
  text-align: center;
}
.order-div-btn button {
  width: 92%;
  margin: auto;
  height: 48px;
  display: block;
  margin-top: 20px;
}
.clear-cart-btn {
  background: #ff3030;
  border-radius: 4px;
  border: none;
  color: white;
}
.clear-cart-btn:hover{
  background-color: #7b1d05;
  font-size: large;
}

.review-order-btn {
  background: #ff9900;
  border-radius: 4px;
  border: none;
  color: white;
}

.review-order-btn:hover{
  background-color: #ffff00a0;
  font-size: large;
}
